﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Users</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>

<body>

    <div>
        <h2>All Users</h2>
        <ul id="allUsers" />
    </div>

    <div>
        <h2>Search by Username</h2>
        <input type="text" id="username" size="10" />
        <input type="button" value="Search" onclick="find();" />
        <p id="user" />
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script>
        var apiUri = 'http://localhost:57951/api/2.0/users/';

        $(document).ready(function () {
            jQuery.support.cors = true;
            $.getJSON(apiUri).done(function (info) {
                $.each(info, function (index, item) {
                    $('<li>', { text: formatItem(item) }).appendTo($('#allUsers'));
                });
            });
        });

        function formatItem(item) {
            return item.Id + '.  ' + item.Username + '  -  ' + item.Password;
        }

        function find() {
            var id = $('#username').val();
            $.getJSON(apiUri + '/' + id).done(function (infoUser) {
                $('#user').text(formatItem(infoUser));
            }).fail(function (jqXHR, textStatus, err) {
                $('#user').text('Error: ' + err);
            });
        }
    </script>
</body>
</html>