﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <title> Users </title>

    <script type="text/javascript">

        $(document).ready(function () {
            jQuery.support.cors = true;
            $.ajax({
                url: 'http://localhost:59159/api/2.0/users',
                type: 'GET',
                dataType: 'json',
                success: function (info) {
                    WriteResponses (info);
                },
                error: function () {
                    alert('Error');
                }
            });

            //Print all user
            function WriteResponses(info) {
                var strResult = "<table class=\"table\"><th>ID</th><th>Username</th><th>Password</th>";
                $.each(info, function (index, user) {
                    strResult += "<tr><td>" + user.Id + "</td><td> " + user.Username + "</td><td>" + user.Password + "</td></tr>";
                });
                strResult += "</table>";
                $("#divResult").html(strResult);
            }
        });

        //Function Get all user
        function GetAll1212244() {
            jQuery.support.cors = true;
            $.ajax({
                url: 'http://localhost:59159/api/2.0/users',
                type: 'GET',
                dataType: 'json',
                success: function (info) {
                    WriteResponses(info);
                },
                error: function () {
                    alert('Error');
                }
            });

            //Print all user
            function WriteResponses(info) {
                var strResult = "<table class=\"table\"><th>Id</th><th>Username</th><th>Password</th>";
                $.each(info, function (index, user) {
                    strResult += "<tr><td>" + user.Id + "</td><td> " + user.Username + "</td><td>" + user.Password + "</td></tr>";
                });
                strResult += "</table>";
                $("#divResult").html(strResult);
            }
        }

        //Function Get a user
        function Get1212244() {
            jQuery.support.cors = true;
            $.ajax({
                url: 'http://localhost:59159/api/2.0/users' + document.getElementById('usrname').value,
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    WriteResponse(data);
                },
                error: function () {
                    alert('Not found');
                }
            });

            function WriteResponse(user) {
                document.getElementById('Id').innerHTML = "<h4>" + user.Id + "</h4>";
                document.getElementById('Username').innerHTML = "<h4>" + user.Username + "</h4>";
                document.getElementById('Password').innerHTML = "<h4>" + user.Password + "</h4>";
            }
        }

        //Add a user
        function Post1212244() {
            var user = {
                Id: document.getElementById('newId').value,
                Username: document.getElementById('newUsername').value,
                Password: document.getElementById('newPassword').value,
            };

            $.ajax({
                url: 'http://localhost:59159/api/2.0/users',
                type: 'POST',
                data: JSON.stringify(user),
                contentType: "application/json;charset=utf-8",
                success: function (data) {
                    GetAll1212244();
                },
                error: function () {
                    alert('Cant add');
                }
            });
        }

        //Delete a user
        function Delete1212244() {
            $.ajax({
                url: 'http://localhost:59159/api/2.0/users' + document.getElementById('delUsername').value,
                type: 'DELETE',
                contentType: "application/json;charset=utf-8",
                success: function (data) {
                    GetAll1212244();
                },
                error: function () {
                    alert('Cant delete');
                }
            });
        }

        //Update user informations
        function Put1212244() {
            var user = {
                Id: document.getElementById('putId').value,
                Password: document.getElementById('putPassword').value
            };

            $.ajax({
                url: 'http://localhost:59159/api/2.0/users' + document.getElementById('putUsername').value,
                type: 'PUT',
                data: JSON.stringify(user),
                contentType: "application/json;charset=utf-8",
                success: function (data) {
                    GetAll1212244();
                },
                error: function () {
                    alert('Cant update');
                }
            });
        }

    </script>
</head>

<body class="fullscreen background" style="background-image: url('/BackGround.jpg');" data-img-width="1600" data-img-height="900">
    <div class="table-responsive">

        <h1><span class="label label-primary">Users:</span></h1>

        <div id="divResult" class="table-responsive"></div>

        <div>
            <h1><span class="label label-info">Get a user:</span> </h1>
        </div>

        <div style="margin-left: 15px">
            <h3>Enter Username:</h3>
            <input id="usrname" class="form-control" type="text" />
            <button type="button" class="btn btn-info" id="getUser" onclick="Get1212244()"> Get User</button>
        </div>

        <div style="margin-left: 15px">
            <table class="table">
                <tr>
                    <td>
                        <h4>ID</h4>
                    </td>
                    <td><span id="Id"></span></td>
                </tr>
                <tr>
                    <td>
                        <h4>Username</h4>
                    </td>
                    <td><span id="Username"></span></td>
                </tr>
                <tr>
                    <td>
                        <h4>Password</h4>
                    </td>
                    <td><span id="Password"></span></td>
                </tr>
            </table>
        </div>

        <div>
            <h1><span class="label label-primary">Post a user:</span></h1>
            <table class="table">
                <tr>

                    <td>
                        ID: <input id="newId" class="form-control" type="number" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Username: <input id="newUsername" class="form-control" type="text" />
                    </td>
                </tr>
                <tr>

                    <td>
                        Password: <input id="newPassword" class="form-control" type="text" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <button type="button" class="btn btn-primary" id="postUser" onclick="Post1212244()">Add New User</button>
                    </td>
                </tr>
            </table>
        </div>

        <div>
            <h1><span class="label label-danger">Delete a User:</span> </h1>
            <table class="table">
                <tr>

                    <td>
                        Enter Username: <input id="delUsername" class="form-control" type="text" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <button type="button" class="btn btn-danger" id="delUser" onclick="Delete1212244()">Delete User</button>
                    </td>
                </tr>
            </table>
        </div>

        <div>
            <h1><span class="label label-warning">Put a Student:</span></h1>
            <table class="table">
                <tr>
                    <td>
                        Enter Username: <input id="putUsername" class="form-control" type="text" />
                    </td>
                </tr>

                <tr>
                    <td>
                        ID update: <input id="putID" class="form-control" type="number" />
                    </td>
                </tr>
                <tr>

                    <td>
                        Password update: <input id="putPassword" class="form-control" type="text" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <button type="button" class="btn btn-warning" id="putUser" onclick="Put1212244()">Update Student</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>